
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body_middle_block-1 %}

<div class="col-md-2"><!--Column left--></div>
<div class="col-md-8"><!--Column middle-->
    <form action="" method="POST">
    {% csrf_token %}

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#personal_data" aria-controls="personal_date" role="tab" data-toggle="tab">Personal Data</a></li>
        <li role="presentation"><a href="#additional_data" aria-controls="additional_data" role="tab" data-toggle="tab">Additional Data</a></li>
        <li role="presentation"><a href="#privacy" aria-controls="privacy" role="tab" data-toggle="tab">Privacy</a></li>
      </ul>

  <div class="tab-content" >
      {% crispy user_form %}
      {% crispy profile_form %}
      {% crispy privacy_form %}
      {% crispy submit_form %}
  </div>

   </form>
{% endblock %}
