{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load idea_extras %}

{% block body_middle_block-6 %}

 <div class="panel panel-default">
    <div class="panel-heading clearfix" >
      <h3 class="panel-title pull-left" style="padding-top: 5px;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><b>  {{userprofile.user.first_name }} {{userprofile.user.last_name }}</b>
      {% if userprofile.user_type %}({{userprofile.user_type}}){% endif %}
      </h3>
      
    </div>
    <div class="panel-body">
      <div class="clearfix">
        <div class="pull-right">
          {% if edit_profile %}
            <a href="{% url 'ManageUsers:edit' userprofile.user.id%}" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          {% endif %}
        </div>
        <h4> Grunddaten </h4>
      </div><hr>
      <div class="row">
        <div class="col-sm-6 text">
          <b class="list-group-item-heading">Kontakt</b></br>
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="list-group-item-text"><a href="mailto:{{ userprofile.user.username }}">{{ userprofile.user.username }}</a></p></br>
              {% if userprofile.phone_number %}
                 <p class="list-group-item-text"> {{userprofile.phone_number}}</p></br>
              {% endif %}
              {% if userprofile.street %}
                <p class="list-group-item-text">{{ userprofile.street }}
              {% endif %}
              {% if userprofile.house_number %}
                {{userprofile.house_number}} </p>
              {% else %}
                </p>
              {% endif %}
              {% if userprofile.zip_code %}
                <p class="list-group-item-text">{{ userprofile.zip_code }}</a> 
              {% endif %}
              {% if userprofile.city %}
                {{ userprofile.city }} </p></br>
              {% else %}
                </p>
              {% endif %}
              {% if userprofile.website %}
                <p class="list-group-item-text"><a href="{{ userprofile.website }}">{{ userprofile.website }}</a> </p>
              {% endif %}
              {% if userprofile.company %}
                <p class="list-group-item-text"> {{userprofile.company}}</p>
             {% endif %}
            </div>
          </div>
          <b class="list-group-item-heading">Teilnehmervereinbarung</b></br>
          <div class="panel panel-default">
            <div class="panel-body">
              {% if agreement %}
                <p class="list-group-item-text"> Teilnehmervereinbarung vom {{ agreement.date_added }}</p>
              {% else %}
                <p class="list-group-item-text"> Für diesen Nutzer wurde noch keine Teilnehmervereinbarung angelegt </br> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="">Nutzervereinbarung anlegen</a> </p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-sm-6 text">
          <b class="list-group-item-heading">Ausbildung</b></br>
          <div class="panel panel-default">
            <div class="panel-body">
              {% if userprofile.education %}
                <p class="list-group-item-text">{{ userprofile.education }}</p>
              {% else %}
                <p class="list-group-item-text"> Noch keine Angaben zur Ausbildung</p>
              {% endif %}
            </div>
          </div>
          
          <b class="list-group-item-heading">Fähigkeiten</b></br>
          <div class="panel panel-default">
            <div class="panel-body">
              {% if userprofile.skills %}
                <p class="list-group-item-text">{{ userprofile.skills }}</p>
              {% else %}
                <p class="list-group-item-text"> Noch keine Angaben zu den Fähigkeiten des Nutzers </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
        
      <div class="clearfix">
        <div class="pull-right">
          {% if request.user|has_group:'staff' %}
          <a href="{% url 'ManageUsers:edit_ability' userprofile.user.id %}" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
          {% endif %}
        </div>
        <h4> Einschätzung des Gründereignung </h4>
      </div><hr>
      
      <div class="list-group">
        <table class="table table-hover">
          <tr>
            {% if userprofile.role.all.count %}
              <td class="col-md-6 success">Gründertyp/Rolle: </td>
              <td class="col-md-6 success center">
                <b> 
                  {% for role in userprofile.role.all %}
                  {{ role }}</br>
                  {% endfor %} 
                </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Gründertyp/Rolle: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.seeks_opportunity == "Ja"  %}
              <td class="col-md-6 success"> Sucht nach Gelegenheiten etwas in der Welt besser zu machen: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.seeks_opportunity }} </b>
              </td>  
            {% elif userprofile.seeks_opportunity == "Nein"  %}
              <td class="col-md-6 danger"> Sucht nach Gelegenheiten etwas in der Welt besser zu machen: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.seeks_opportunity }} </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Sucht nach Gelegenheiten etwas in der Welt besser zu machen: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.delayed_gratifikation == "Ja" %}
              <td class="col-md-6 success"> Nimmt kurz- und mittelfristig Opfer in Kauf, um langfristig eine bessere Zukunft zu haben (Delayed Gratification): </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.delayed_gratifikation }} </b>
              </td>  
            {% elif userprofile.delayed_gratifikation == "Nein" %}
              <td class="col-md-6 danger"> Nimmt kurz- und mittelfristig Opfer in Kauf, um langfristig eine bessere Zukunft zu haben (Delayed Gratification): </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.delayed_gratifikation }} </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Nimmt kurz- und mittelfristig Opfer in Kauf, um langfristig eine bessere Zukunft zu haben (Delayed Gratification): </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.target_oriented == "Ja" %}
              <td class="col-md-6 success"> Ist verliebt in ein Ziel und nicht in sein Produkt (Menschen Finden Dinge vs. Suchmaschine): </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.target_oriented }} </b>
              </td>  
            {% elif userprofile.target_oriented == "Nein" %}
              <td class="col-md-6 danger"> Ist verliebt in ein Ziel und nicht in sein Produkt (Menschen Finden Dinge vs. Suchmaschine): </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.target_oriented }} </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Ist verliebt in ein Ziel und nicht in sein Produkt (Menschen Finden Dinge vs. Suchmaschine): </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.flexible_thinker = "ja" %}
              <td class="col-md-6 success"> Kann schnell umdenken: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.flexible_thinker }} </b>
              </td>
            {% elif userprofile.flexible_thinker = "Nein" %}
              <td class="col-md-6 danger"> Kann schnell umdenken: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.flexible_thinker }} </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Kann schnell umdenken: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.social_stable = "Ja" %}
              <td class="col-md-6 success"> Ist sozial stabil und hat eine stabile Umgebung: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.social_stable }} </b>
              </td>  
             {% elif userprofile.social_stable = "Nein" %}
              <td class="col-md-6 danger"> Ist sozial stabil und hat eine stabile Umgebung: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.social_stable }} </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Ist sozial stabil und hat eine stabile Umgebung: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.curious == "Ja" %}
              <td class="col-md-6 success"> Kann zwar noch nicht alles, will es aber kennen lernen: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.curious }} </b>
              </td>
            {% elif userprofile.curious == "Nein" %}
              <td class="col-md-6 danger"> Kann zwar noch nicht alles, will es aber kennen lernen: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.curious }} </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Kann zwar noch nicht alles, will es aber kennen lernen: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.responsible == "Ja" %}
              <td class="col-md-6 success"> Übernimmt die Verantwortung für sein Handeln und etwaige Konsequenzen: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.responsible }} </b>
              </td>
            {% elif userprofile.responsible == "Nein" %}
              <td class="col-md-6 danger"> Übernimmt die Verantwortung für sein Handeln und etwaige Konsequenzen: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.responsible }} </b>
              </td>    
            {% else %}
              <td class="col-md-6 warning"> Übernimmt die Verantwortung für sein Handeln und etwaige Konsequenzen: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.risk_taking == "Ja" %}
              <td class="col-md-6 success"> Ist bereit (absehbare) Risiken einzugehen: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.risk_taking }} </b>
              </td>
              {% elif userprofile.risk_taking == "Nein" %}
              <td class="col-md-6 danger "> Ist bereit (absehbare) Risiken einzugehen: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.risk_taking }} </b>
              </td>
            {% else %}
              <td class="col-md-6 warning "> Ist bereit (absehbare) Risiken einzugehen: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.determined == "Ja" %}
              <td class="col-md-6 success"> Keine Angst vor Autoritäten: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.determined }} </b> 
              </td>
            {% elif userprofile.determined == "Nein" %}
              <td class="col-md-6 danger"> Keine Angst vor Autoritäten: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.determined }} </b> 
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Keine Angst vor Autoritäten: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b> 
              </td>
            {% endif %}
          </tr>
          <tr>
            {% if userprofile.stamina == "Ja" %}
              <td class="col-md-6 success"> Hat Biss und Durchhaltevermögen und lässt sich durch Hürden nicht abschrecken: </td>
              <td class="col-md-6 success center">
                <b>{{ userprofile.stamina }} </b>
              </td>
            {% elif userprofile.stamina == "Nein" %}
              <td class="col-md-6 danger"> Hat Biss und Durchhaltevermögen und lässt sich durch Hürden nicht abschrecken: </td>
              <td class="col-md-6 danger center">
                <b>{{ userprofile.stamina }} </b>
              </td>  
            {% else %}
              <td class="col-md-6 warning"> Hat Biss und Durchhaltevermögen und lässt sich durch Hürden nicht abschrecken: </td>
              <td class="col-md-6 warning center">
                <b><em> keine Einschätzung </em> </b>
              </td>
            {% endif %}
          </tr>
        </table>        
      </div>
      <div class="clearfix">
        <div class="pull-right">
          {% if request.user|can_edit:userprofile %}
          <a href="{% url 'ManageIdea:post' userprofile.user.id %}" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          {% endif %}
        </div>
        <h4> Ideenpapiere </h4>
      </div><hr>

      <div class="list-group">
        {% for idea in userprofile.user|get_all_ideas %}
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
          </div>

          <div class="col-md-10 col-sm-10">
            <p class="list-group-item-text">
              <b>{{ idea.title }}</b> vom {{ idea.date_added }}
              {% if request.user|can_view:idea %}
                (<a href="{% url 'ManageIdea:detail' idea.id %}">detail</a>
                {% if request.user|can_edit:idea %}
                  ,<a href="{% url 'ManageIdea:edit' idea.id %}">edit</a>
                {% endif %}
                )
              {% endif %}
            </p>
            <p class="list-group-item-text">{{ idea.description_long | linebreaks }}</p>
            <p>
            </p>
          </div>
          <div class="col-md-1 col-sm-1">
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="clearfix">
        <div class="pull-right">
          {% if request.user|can_edit:userprofile %}
          <a href="{% url 'ManageUsers:create_project' userprofile.user.id %}" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          {% endif %}
        </div>
        <h4> Projekte </h4>
      </div><hr>
     

      <div class="list-group">
        {% for project in userprofile.user|get_all_projects %}
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
          </div>

          <div class="col-md-10 col-sm-10">
            <p class="list-group-item-text">
              <b>{{ project.title }}</b> vom {{ project.date_added }}
              {% if request.user|can_view:project %}
                (<a href="{% url 'ManageProjects:detail' project.id %}">details</a>)
              {% endif %}
            </p>
            {% if project.dexcription %}
            <p class="list-group-item-text">{{ project.description | linebreaks }}</p>
            {% endif %}
          </div>
          <div class="col-md-1 col-sm-1">
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="clearfix">
        <div class="pull-right">
          {% if request.user|can_edit:userprofile %}
          <a href="{% url 'ManageUsers:post_announcement' userprofile.user.id %}" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          {% endif %}
        </div>
        <h4> Gesuche </h4>
      </div><hr>
      <div class="list-group">
        {% for announcement in announcements %}
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
          </div>

          <div class="col-md-10 col-sm-10">
            <p class="list-group-item-text">
              <b>{{ announcement.title }}</b> vom {{ announcement.date_added }}
              {% if request.user|can_edit:userprofile %}
                (<a href="{% url 'ManageUsers:edit_announcement' userprofile.user.id announcement.id %}">edit</a>)
              {% endif %}
            </p>
            <p class="list-group-item-text">{{ announcement.description_long | linebreaks }}</p>
            <p>
            </p>
          </div>
          <div class="col-md-1 col-sm-1">
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="clearfix">
        <div class="pull-right">
          {% if request.user|can_edit:userprofile %}
          <a href="{% url 'ManageUsers:createcomment' userprofile.user.id %}" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          {% endif %}
        </div>
        <h4> Notizen </h4>
      </div><hr>
      <div class="list-group">
        {% for comment in comments %}
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
          </div>

          <div class="col-md-10 col-sm-10">
            <p class="list-group-item-text">
              <b>{{ comment.title }}</b> von {{ comment.supervisor.first_name }} {{ comment.supervisor.last_name }} vom {{ comment.date_added }}
              {% if request.user|has_group:'staff' %}
                (<a href="{% url 'ManageUsers:editcomment' comment.id %}">edit</a>)
              {% endif %}
            </p>
            <p class="list-group-item-text">{{ comment.message | linebreaks }}</p>
            <p>
            </p>
          </div>
          <div class="col-md-1 col-sm-1">
          </div>
        </div>
        {% endfor %}
      </div>




{% endblock %}









