{# Load the tag library #}
{% load bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>IBID</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container" id="navfluid">
      <div class="row">
        <div class="col-md-10"><!--Column middle-->
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
              <span class="sr-only">Toggle navigation</span>
              {% if user.is_superuser %}
              <span class="icon-bar"></span>
              {% endif %}
              {% if user.is_authenticated %}
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              {% else %}
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              {% endif %}
            </button>
            <a class="navbar-brand" href="{% url 'Home:index' %}">IBID</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'ManageIdea:post' %}"> Add Idea </a></li>
                <li><a href="{% url 'ManageUsers:userprofile' user.id %}"> {{ user.get_username }} </a></li>
                <li><a href="{% url 'ManageUsers:logout' %}"> Logout </a></li>
                {% else %}
                <li><a href="{% url 'ManageUsers:register' %}"> Register </a></li>
                <li><a href="{% url 'ManageUsers:login' %}"> Login </a></li>
                {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
        <div class="col-md-2"></div>
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-10">{% block body_middle_block-1 %}{% endblock %}</div>
      <div class="col-md-2">{% block body_right_block-1 %}{% endblock %}</div>
    </div>
    <div class="row">
      <div class="col-md-4">{% block body_left_block-2 %}{% endblock %}</div>
      <div class="col-md-4">{% block body_middle_block-2 %}{% endblock %}</div>
      <div class="col-md-4">{% block body_right_block-2 %}{% endblock %}</div>
    </div>
    <div class="row">
      <div class="col-md-2">{% block body_left_block-3 %}{% endblock %}</div>
      <div class="col-md-8">{% block body_middle_block-3 %}{% endblock %}</div>
      <div class="col-md-2">{% block body_right_block-3 %}{% endblock %}</div>
    </div>
  </div>

{% block body_block %}{% endblock %}


</body>
</html>
{% bootstrap_javascript jquery=1 %}
