
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- tabs -->

<div class="tabbable">
	{% block body_middle_block-7 %}
		<ul class="nav nav-pills nav-stacked">
		    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
		  <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a></li>
		  <li role="presentation"><a href="#privacy" aria-controls="privacy" role="tab" data-toggle="tab">Privacy</a></li>
        </ul>
    {% endblock %}
    
    {% block body_right_block-7 %}
    <form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="tab-content">
	    {% crispy post_form %}
	    {% crispy privacy_form %}
	</div>
	<button type="submit" class="btn btn-primary" name="next" value="{{ next }}">Submit</button>
    
</div>

 </form>
<!-- /tabs -->

{% endblock %}