
{% extends 'base.html' %}
{% load crispy_forms_tags %}


<!-- tabs left -->


{% block body_middle_block-2 %}


<b> you are now editing the comment "{{ Comment }}" of idea "{{Comment.idea}}" !</b><br>

<form action="" method="POST">
{% csrf_token %}


    {% crispy comment_form %}

       <button type="submit" class="btn btn-primary" name="next" value="{{ next }}">Update</button> 
</form>
<a href="{% url 'ManageIdea:remove_comment' Comment.id %}" class="btn btn-danger">Delete Comment</a>
{% endblock %}
