<strong>Add Your Idea Here...</strong>
<form action="" method="POST">                                                             
  {% csrf_token %}
  <p> 
  	{{ post_form.title.errors }}
  	{{ post_form.title.label_tag }}
  	{{ post_form.title }} 
  </p>
  <p> 
  	{{ post_form.description_short.errors }}
  	{{ post_form.description_short.label_tag }}
  	{{ post_form.description_short }} 
  </p>
  <p> 
  	{{ post_form.description_long.errors }}
  	{{ post_form.description_long.label_tag }}
  	{{ post_form.description_long }} 
  </p>
  <p> 
  	{{ post_form.tags.errors }}
  	{{ post_form.tags.label_tag }}
  	{{ post_form.tags }} 
  </p>
  <input type="submit" /> 
 </form>


{% load sitecats %}

{% block contents %}
    <!-- Some additional functionality (e.g. categories cloud rendering,
         editor enhancements) will require JS. -->
    <script src="{{ STATIC_URL }}js/sitecats/sitecats.min.js"></script>

    <h1>{{ idea.title }}</h1>
    <div id="idea_categories">
        {% sitecats_categories from idea %} <!-- And that's it. -->
    </div>
    <!-- Form code goes somewhere here. -->
{% endblock %}
