<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>My Home Page</title>           
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
 
</head>
<body>
<p>Wow, what a fancy HomePage!</p>    
<a href="{% url 'ManageIdea:index' %} ">List of ideas</a></br>
<a href="{% url 'admin:index' %}">Admin Page <br>
<a href="{% url 'ManageUsers:login' %}"> Login <br>
<a href="{% url 'ManageUsers:register' %}"> Register <br>
<a href="{% url 'ManageIdea:post' %}"> Add your idea <br>
</body>
</html>
